.chat-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.chat-example-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 64px;
  width: 60%;
  padding: 10px;
  z-index: 1;
  background-color: #fff;

  h2 {
    flex-grow: 1;
    text-align: left;
    margin: 0;
  }

  .button-container {
    text-align: right;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    .button-container {
      text-align: center;
    }
  }
}

.hide-scrollbar {
  flex: 1;
  margin-bottom: 160px;
  background-color: white;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  display: 'flex';
  justify-content: 'center';
  width: '100%';

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }
}

.chat-container {
  width: 90%;

  @media (min-width: 600px) {
    width: 60%;
  }
}

.send-content-div {
  padding-bottom: 80px;
  @media (max-width: 768px) {
    padding-bottom: 10px;
  }
}

.send-div {
  width: 100%;
  position: relative;

  @media (min-width: 600px) {
    width: 40%;
  }
}

.send-textarea {
  padding-right: 80px;
  border-radius: 18px;

  &.ant-input {
    @media (min-width: 600px) {
      min-height: 2em;
      max-height: 6em;
    }
  }
}

.send-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
