.price {
  // width: 100%;
  display: flex;
  justify-content: center;


  .price-header {
    height: 48px;
    display: flex;
    // width: 637px;
    background-color: rgba(219, 224, 253, 1);
    border-radius: 24px;

    .price-header-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 150px;
      margin: 4px 5px;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 400;

      .show-font {
        cursor: pointer;
      }
    }

    .on-select {
      background-color: #4B64F3;
      color: #E6EDF5;
    }

    .other {
      color: #0A1629;
    }
  }

  .header {
    margin-top: 85px;
  }

  .digital-human {
    margin-top: 24px;
  }
}

// AI画涂
.painted {
  margin-top: 66px;
  display: flex;
  justify-content: center;

  .body {
    display: flex;
    flex-direction: column;

    .huabei-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .huabei {
        width: 226px;
        height: 95px;
        border-radius: 3px;
        font-family: '思源黑体';
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .hit1 {
          font-size: 22px;
          color: #808080;
        }

        .hit2 {
          font-size: 22px;
          color: #ffffff;
        }

        .price1 {
          display: inline-block;
          font-size: 30px;
        }

        .price2 {
          display: inline-block;
          font-size: 22px;
          margin-left: 4px;
        }
      }

      .un-select {
        border: 1px solid #A6A6A6;
        color: #000000;
        cursor: pointer;
      }

      .is-select {
        background: #4B64F3;
        color: #ffffff;
      }

      .buy-btn {
        margin-top: 81px;
        width: 152px;
        height: 42px;
        border-radius: 3px;
        background: #4B64F3;
        font-family: '思源黑体';
        font-size: 22px;
        font-weight: 400;
        color: #ffffff;
      }


    }

    .point {
      margin-top: 63px;
      display: flex;
      flex-direction: column;
    }

    table.mytable {
      width: 361px;
      border: 1px solid #444;
      border-spacing: 0;
      margin-top: 26px;
    }

    table.mytable tr,
    table.mytable th {
      border-bottom: 1px solid #444
    }

    table.mytable td,
    table.mytable th {
      border-right: 1px solid #444;
      border-bottom: 1px solid #444;
      padding: 5px;
    }

    table.mytable tr td:last-child {
      border-right: 0
    }

    table.mytable tr:last-child td {
      border-bottom: 0
    }
  }

}

// AI百宝助手
.terasure-page {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 63px;





}

// 个性化数字人
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: '思源黑体';

  .card-list {
    margin-top: 36px;

    .card {
      width: 213px;
      height: 431px;
      border-radius: 3px;
      background: #FFFFFF;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;



      .title {
        font-size: 16px;
        font-weight: 400;
        color: #808080;
      }

      .price1 {
        margin-top: 18px;
        font-size: 30px;
        font-weight: 700;
        color: #000000;
      }

      .price2 {
        font-size: 16px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
      }

      .hit {
        padding: 0px 10px;
        margin-top: 40px;
        display: flex;
        flex-direction: inherit;

        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 17.38px;
        color: #808080;


        span {
          margin-left: 4px;
          margin-top: 10px;
        }

        .c-icon {
          width: 13px;
          height: 13px;
        }
      }

      .buy-btn {
        margin-top: 50px;
        width: 125px;
        height: 37px;
        border-radius: 3px;
        background: #A6A6A6;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
      }

      .btn-select {
        background-color: #4B64F3;
      }

    }



    .is-select {
      border: 1px solid #4B64F3;
    }

    .un-select {
      border: 1px solid #A6A6A6;
    }
  }

  .buy-list {
    margin-top: 48px;
  }
}

.buy-card {
  .vip-box {
    width: 213px;
    height: 277px;
    border-radius: 3px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: '思源黑体';

    .title {
      margin-top: 16px;
      font-size: 16px;
      font-weight: 400;
      color: #808080;
    }


    .price-line {
      margin-top: 18px;
    }

    .price1 {
      display: inline-block;
      font-size: 30px;
      font-weight: 700;
      color: #000000;
    }

    .price2 {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      color: #000000;
    }

    .disable {
      margin-left: 4px;
      font-size: 16px;
      font-weight: 400;
      color: #808080;
      text-decoration: line-through
    }

    .hit {
      margin-top: 32px;
      font-size: 16px;
      font-weight: 400;
      color: #808080;
    }

    .buy-btn {
      margin-top: 46px;
      width: 125px;
      height: 37px;
      border-radius: 3px;
    }

    .select {
      background: #4B64F2;
      color: #FFFFFF;
    }

    .un-select {
      background: #DBE0FD;
      color: #4B64F2;
    }
  }

  .is-select {
    border: 1px solid #4B64F3;
  }

  .un-select {
    border: 1px solid #A6A6A6;
  }

}



// 企业
.enterprise {
  display: flex;
  justify-content: center;
  font-family: '思源黑体';


  margin: 20px;

  .page {
    width: 880px;
    border: 1px solid black;
    padding: 40px 20px 10px 20px;

    .left {
      .style1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
      }

      .style2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #afafaf;
        margin: 2px 0 16px;
      }
    }

    .right {
      .sub-btn{
        background-color: #4B64F2;
      }
    }
  }

}