.price-header {
  display: flex;
  height: 48px;
  width: 637px;
  background-color: rgba(219, 224, 253, 1);
  margin: 71px 340px 0px 303px;
  border-radius: 24px;
  .price-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    margin: 4px 5px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    .show-font {
      cursor: pointer;
    }
  }
  .on-select {
    background-color: rgba(75, 100, 243, 1);
    color: rgba(255, 255, 255, 1);
  }
  .other {
    color: rgba(75, 100, 243, 1);
  }
}

.painted {
  margin: 66px 233px 0px 234px;
  background-color: papayawhip;
}
